
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Lexend+Giga:wght@100..900&family=Outfit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Lexend+Giga:wght@100..900&family=Outfit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Alata", serif;
  font-weight: 400;
}
.container{
    display: flex;
        justify-content: flex-end;

}
#hero{
    filter: brightness(49%);
    height: 80vh;
    width: 100%;
}
 nav img{
   
    margin-top: 67px;
    position: absolute;
    margin-left: -1240px;
}
ul{
    position: absolute;
display: flex;

}
nav ul li{
    color: white;
    margin-top: 74px;
    margin-left: -132px;
   
    list-style: none;
}
#first{
   
    height: 225px;
    width: 487px;
    margin-top: 194px;
    margin-right: 697px;
    position: absolute;
    border: 2px solid white;
    margin-left: -174px;
}
section h1{
    margin-top: 19px;
    margin-left: 22px;
    font-size: 50px;
    width: 466px;
    font-family: "Josefin Sans", serif;
font-weight: 300;
color: white;
}
.new1{
    margin-left: 170px;
    margin-top: 150px;

}
#interactive{
    width: 500px;
}
.new1 h1{
    font-size: 37px;
    width: 310px;
    font-family: "Josefin Sans", serif;
    font-weight: 300;
    margin-left: 524px;
    margin-top: -186px;
}
.new1 p{
    margin-left: 525px;
    width: 447px;
    font-size: 15px;
    font-family: "Alata", serif;
    font-weight: 400;
    color: gray;
}
.new2{
    margin-top: 180px;
}
.new2 h1{
    font-size: 40px;
    margin-left: 150px;
    font-family: "Josefin Sans", serif;
    font-weight: 300; 
}
.new2 button {
    word-spacing: 5px;
    position: absolute;
    font-family: "Josefin Sans", serif;
    font-weight: 300; 
    height: 38px;
    width: 111px;
    background-color: white;
    margin-top: -42px;
    margin-left: 1084px;
}
.im{
    width: 1106px;
    word-wrap: 7;
    display: flow;
    margin-top: 172px;
    margin-left: 147px;
}
.im #space{
    margin-left: 23px;
}
.im h1{
    text-transform: uppercase;
    font-size: 29px;
    margin-left: 23px;
    color: white;
    margin-top: 362px;
    position: absolute;
    width: 2px;
}
footer{
    margin-top: 300px;
    background-color: black;
    width: 100%;
    height: 160px;
}
#footer-img{
    width: 90px;
    margin-top: 49px;
    margin-left: 113px;
}

footer p{
    margin-left: 1034px;
    margin-top: 10px;
    color: grey;
    font-family: "Alata", serif;
    font-weight: 400;
}
@media (max-width: 375px) {
  .im {
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
    width: 90%;
  }

  #interactive {
    width: 100%; 
  }

  .new1 h1 {
    margin-left: 0; 
    margin-top: 20px;
    text-align: center;
  }
}
